##### Cristina Cosma
# **DATA SCIENCE**

## Tasca M3 T01 - Programació numèrica amb dataframes i estadística descriptiva :  Numpy, Pandas, Lambda 

* Aplicar la programació numèrica amb la llibreria NumPy.
* Treballar amb dataframes amb la llibreria Pandas.
* Realitzar anàlisis estadístics bàsics a Python.

#### **EXERCICI 1**
**Donat el següent dataframe data = {"Col1": [50, 30, 10, 40, 20]}, ordena els valors en ordre ascendent (a) i en ordre descendent (b)**

In [143]:
import pandas as pd

data = {"Col1": [50, 30, 10, 40, 20]}
df=pd.DataFrame(data)
df
# Primero se muestra el Data Frame en columnas con los datos tal como vienen

   Col1
0    50
1    30
2    10
3    40
4    20

*Solució a):* __Ordenamos el Dataframe de manera ASCENDENTE :__

In [144]:
data_asc=df.sort_values(by="Col1", ascending=True)
data_asc

   Col1
2    10
4    20
1    30
3    40
0    50

*Solució b):* __Ordenamos el Dataframe de manera DESCENDENTE :__

In [145]:
data_desc=df.sort_values(by="Col1", ascending=False)
data_desc

   Col1
0    50
3    40
1    30
4    20
2    10

#### **EXERCICI 2**
**Donat el següent dataframe data = {"Col1": [50, 30, 10, 40, 20]}, filtra els valors   
que siguin més grans que 30.**

In [146]:
data = {"Col1": [50, 30, 10, 40, 20]}
df=pd.DataFrame(data)
df
# Primero se muestra el Data Frame en columnas con los datos tal como vienen

   Col1
0    50
1    30
2    10
3    40
4    20

*Solució :* __Els valors más grans de 30 son 40 i 50__

In [147]:
df_mayor_30 = df[df['Col1'] > 30]
df_mayor_30

   Col1
0    50
3    40

#### **EXERCICI 3**
**Donat el següent dataframe data = {"Col1": [50, 30, 10, 40, 10]}, comptabilitza els valors únics**

*Solució a) :* __El número total de valors únics es de 4__

In [148]:
# (per motius práctics i evitar confusió canviaré el nom de "data" per "data_3" (del exercici 3))

data_3 = {"Col1": [50, 30, 10, 40, 10]}
df_3=pd.DataFrame(data_3)
df_3.nunique()

Col1    4
dtype: int64

*Solució b):* __Veiem quantes vegades es repeteix cada valor únic : el 10 té 2 ocurrències (aparicions) i els altres números en tenen una sola__

In [149]:
data_3 = {"Col1": [50, 30, 10, 40, 10]}
df_3=pd.DataFrame(data_3)
df_3.value_counts()

Col1
10      2
30      1
40      1
50      1
dtype: int64

#### **EXERCICI 4**
**Donat el següent dataframe data = {'Grup': ['A', 'B', 'A', 'B', 'A'], 'Col1': [10, 20, 30, 40, 50]}, 
suma les dades que pertanyen a la mateixa columna.**

In [150]:
# (per motius práctics i evitar confusió canviaré el nom de "data" per "data_4" (del exercici 4))

data_4 = {'Grup': ['A', 'B', 'A', 'B', 'A'], 'Col1': [10, 20, 30, 40, 50]}
df_4=pd.DataFrame(data_4)
df_4

  Grup  Col1
0    A    10
1    B    20
2    A    30
3    B    40
4    A    50

*Solució a):* __El total de la columna de datos numéricos "Col1" és de 150.__

In [151]:
# aquí veiem el resultat de la suma només per la columna numèrica

df_4['Col1'].sum()

150

*Solució b):* __El total de la columna de strigs "Grup" és ABABA i el de la columna "Col1" és de 150.__

In [152]:
# aquí veiem el resultat de la suma de cada columna.
df_4.sum()

Grup    ABABA
Col1      150
dtype: object

#### **EXERCICI 5**
**Donat el següent dataframe data = {'Grup': ['A', 'B', 'A', 'B', 'A'], 'Col1': [10, 20, 30, 40, 50]}, 
crea una columna nova ‘Col2’ que sigui 2 si és superior al percentil 75% de la ‘Col1’, 0 si és inferior al 25% del percentil de la columna ‘Col1’ i 1 si cau entremig.**

In [153]:
# (per motius práctics i evitar confusió canviaré el nom de "data" per "data_5" (del exercici 5))

data_5 = {'Grup': ['A', 'B', 'A', 'B', 'A'], 'Col1': [10, 20, 30, 40, 50]}
df_5=pd.DataFrame(data_5)
df_5

  Grup  Col1
0    A    10
1    B    20
2    A    30
3    B    40
4    A    50

*Solució :* __Part 1 - comprobar els percentils amb dos algorítmes : "percentileofscore()" i "np.percentile()"__

In [154]:
from scipy.stats import percentileofscore

# creación de una columna de comprobación temporal para vizualizar los percentiles:
df_5['percentile'] = [percentileofscore(df_5['Col1'], value, kind='strict') for value in df_5['Col1']]
df_5

  Grup  Col1  percentile
0    A    10         0.0
1    B    20        20.0
2    A    30        40.0
3    B    40        60.0
4    A    50        80.0

In [155]:
# comprobando que el percentil da el mismo resultado con ambos algorítmos
# percentileofscore() VS np.percentile()
import numpy as np

print(np.percentile(df_5['Col1'], 75))
print(np.percentile(df_5['Col1'], 25))

40.0
20.0

*Solució :* __Part 2 - crear una variable de tipus llista on enmagatzenar els elements de la futura columna "Col2" crear la nova columna, integrar-la al dataframe__

In [156]:
Col2=[]

for x in df_5['Col1']:
    if x > np.percentile(df_5['Col1'], 75) :
        Col2.append(2)
    elif x < np.percentile(df_5['Col1'], 25) :
        Col2.append(0)   
    else:
        Col2.append(1)
Col2

[0, 1, 1, 1, 2]

In [157]:
df_5['Col2']=Col2

# borrando la columna de comprobación para el resultado final:
df_5 = df_5.drop('percentile', axis=1)

*Solució :* __Part 3 - finalment, veure el dataframe amb només les dades que es demanen__

In [158]:
df_5

  Grup  Col1  Col2
0    A    10     0
1    B    20     1
2    A    30     1
3    B    40     1
4    A    50     2

#### **EXERCICI 6**
**Donat el següent dataframe data = {'Grup': ['A', 'B', 'A', 'B', 'A'], 'Col1': [10, 20, 30, 40, 50]}, aplica lambda per obtenir el quadrat de la columna ‘Col1’ en una nova columna.**

In [159]:
# amb Lambda
import pandas as pd

# dataframe : tenint cura de posar () al voltant del {dictionari} abans d'executar la funció ".apply"

data_6 = pd.DataFrame({'Grup': ['A', 'B', 'A', 'B', 'A'], 'Col1': [10, 20, 30, 40, 50]})
    
data_6['Col2'] = data_6.apply(lambda i: i['Col1']**2, axis=1)
data_6

  Grup  Col1  Col2
0    A    10   100
1    B    20   400
2    A    30   900
3    B    40  1600
4    A    50  2500

In [160]:
# sense Lambda
data_6 = {'Grup': ['A', 'B', 'A', 'B', 'A'], 'Col1': [10, 20, 30, 40, 50]}
df_6=pd.DataFrame(data_6)

df_6['Col2']=(df_6['Col1'])**2
df_6

  Grup  Col1  Col2
0    A    10   100
1    B    20   400
2    A    30   900
3    B    40  1600
4    A    50  2500